rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function hasAuth() {
      return request.auth.uid != null
    }

    function isOwner(uid) {
      return hasAuth() && request.auth.uid == uid
    }

    match /user/{uid} {
      allow get: if isOwner(uid);
      allow list: if false;
      allow create: if false;
      allow update: if isOwner(uid);
      allow delete: if false;

      match /emotionPost/{emotionPostId} {
        // read
        allow get: if isOwner(uid);
        allow list: if isOwner(uid);

        // write
        allow create: if isOwner(uid);
        allow update: if false;
        allow delete: if false;

        match /emotion/{emotionId} {
          // read
          allow get: if isOwner(uid);
          allow list: if isOwner(uid);

          // write
          allow create: if isOwner(uid);
          allow update: if false;
          allow delete: if false;
        }
      }
    }

    match /allEmotionPost/{allEmotionPostId} {
      // read
      allow get: if hasAuth();
      allow list: if hasAuth();

      // write
      allow create: if isOwner(request.resource.data.uid);
      allow update: if false;
      allow delete: if false;

      match /emotion/{emotionId} {
        // read
        allow get: if hasAuth();
        allow list: if hasAuth();

        // write
        allow create: if isOwner(get(/databases/$(database)/documents/allEmotionPost/$(allEmotionPostId)).data.uid);
        allow update: if false;
        allow delete: if false;
      }
    }

    match /allEmotion/{allEmotionId} {
      // read
      allow get: if false;
      allow list: if false;

      // write
      allow create: if hasAuth();
      allow update: if false;
      allow delete: if false;
    }


    match /chatgptPrompt/{chatgptPromptId} {
      // read
      allow get: if hasAuth();
      allow list: if hasAuth();

      // write
      allow create: if false;
      allow update: if false;
      allow delete: if false;
    }
  }
}